# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml

# Android
android/.gradle
android/local.properties
android/captures/
android/gradlew
android/gradlew.bat
android/gradle/wrapper/

# iOS
ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/
ios/Flutter/flutter_export_environment.sh

# IDE
.idea/
*.log
